.html{
    width: 100%;
}
.style{
    align-content:center;
    margin: 0 auto;
    width: 960px;
}
.ol{
    color:slategray;
}
.border{
    margin: 50px 20px 100px;
    border-style:solid;
}
.border2{
    /* background-color:#ABD3BF; */
    margin: 50px 20px 100px;
    border-style:groove;
    border-color:black;
    padding: 30px;
}
.bordainterna{
    background-color:RGBA(171,211,191,0.27);
    margin: 50px 20px 100px;
    border-style:groove;
    border-color:lightgray;
    padding: 30px;
}
#video{
    border-style:solid;
    width:1;    
    height:1;
    border-width:10px;
    border-radius:10px;
    border-color:darkred;
    display: block;
}
.centro{
    float:right;
    text-align="center";
    align-items: center;
    align-content: center;   
}
.titulo{
    border-style:solid;
    border-bottom-style: solid;
    border-left: 10px; 
    border-right:10px;
    border-top:10px;
 /*    border-bottom: 10px; */
    border-color:purple;
}
.titulo2{
    border-style:solid;
    border-bottom-style: solid;
    border-left: 50px; 
    border-right:50px;
    border-top:50px;
   /*  border-bottom: 50px; */
    border-color:red;
}
